<div class="container-fluid " style="text-align:center;padding-top: 100px;position: relative;z-index: 5;"
  class=" mb-5 ">

  <nav class="row navbar fixed-top navbar-light " style="background-color: 	#FE3D00">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="assets\logo.png" width="50px" height="45px" class="d-inline-block align-middle" alt="">
      Z-Tindi
    </a>

  </nav>

  <div class="row sticky justify-content-center mt-3 ">
    <div class="col-6 col-sm-4 col-md-4 ">
      <div>
        <app-search-bar></app-search-bar>
      </div>
    </div>
  </div>

</div>

<br>


<div style="position: relative">
  <router-outlet></router-outlet>
</div>